<md-content layout="column">
	<!--Side Navigation-->
	<div layout="column" style="height:500px;">
	  <section layout="row" flex>
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		
		  <md-toolbar class="md-accent">
		    <h1 class="md-toolbar-tools">My Folders</h1>
		  </md-toolbar>
		  
		  <md-content layout-padding role="navigation">
<!--		    <md-button ng-click="close()" class="md-primary" hide-gt-md>
		      Close Sidenav Left
		    </md-button>-->

				<form novalidate name="form" ng-submit="links.addFolder(newFolderName); newFolderName = null">
					<md-input-container layout="row" class="md-icon-float">
						<label>Folder</label>
						<md-icon md-svg-icon="file:ic_folder_24px"></md-icon>
						<input md-maxlength="50" name="fName" type="text" ng-model="newFolderName">
					</md-input-container>
					<md-button class="md-fab md-mini md-primary" aria-label="Add a new folder" ng-disabled="!newFolderName || form.$invalid">Add</md-button>
				</form>

			<md-list role="list">
				<md-list-item ng-repeat="folder in links.folders">
					<a ng-show="!editName" ui-sref=".folder({id: folder._id})">{{folder.name}}</a>
					<md-input-container ng-show="editName" md-no-float>
						<input md-maxlength="50" type="text" ng-model="newFolderName" placeholder="{{folder.name}}">
					</md-input-container>
					<span flex></span>
					<md-button ng-click="editName = !editName" ng-hide="editName"><md-icon md-svg-icon="image:ic_edit_24px"></md-icon></md-button>
					<md-button ng-click="renameFolder()" ng-show="!editName"><md-icon md-svg-icon="image:ic_edit_24px"></md-icon></md-button>
					<md-button><md-icon md-svg-icon="action:ic_delete_24px"></md-icon></md-button>
				</md-list-item>
			</md-list>
		  </md-content>
		  
		</md-sidenav>
	  </section>
	</div>
	<!--Cards-->
	<div layout="column">
		
	</div>
</md-content>